body {
  color: black;
  background-color: #dd9c9c;
}

h4{
  color: red;
}

body a{
  color:black;
}

body a:hover{
  color:red;
}

body a:active{
  color: orange;
}

.landing-right a:link {
  color: white;
}

/* visited link */
.landing-right a:visited {
  color: white;
}

/* mouse over link */
.landing-right a:hover {
  color: red;
}

/* selected link */
.landing-right a:active {
  color: orange;
}

/* Different background colors for each section for visual separation */
.about {
  background-color: #e9bdbd;
}

.about-inner{
  background-color: rgba(0, 0, 0, 0.1); /* Black with 80% opacity */
}

.projects {
  background-color: #dd9c9c;
}

.projects-inner{
  background-color: rgba(0, 0, 0, 0.1); /* Black with 80% opacity */
}

.projects-inner .project img {
  border: 2px solid red;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio {
  background-color: #e9bdbd;
}

.socials {
  background-color: #dd9c9c;
}

.socials-inner {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid red;
}

.socials-inner ul {
  list-style-type: none;
}

.socials-inner a {
  color: #000;
}

.socials-inner a:hover {
  color: red;
}

.socials-inner a:active {
  color: orange;
}

.footer{
  background-color: #dd9c9c;
}