body {
  color: black;
}

.landing-right a:link {
  color: white;
}

/* visited link */
.landing-right a:visited {
  color: white;
}

/* mouse over link */
.landing-right a:hover {
  color: white;
}

/* selected link */
.landing-right a:active {
  color: orange;
}

/* Different background colors for each section for visual separation */
.about {
  background-color: #f8f8f8;
}

.about-inner{
  background-color: rgba(0, 0, 0, 0.1); /* Black with 80% opacity */
}

.projects {
  background-color: #e8e8e8;
}

.projects h4{
  color: red;
}

.projects-inner{
  background-color: rgba(0, 0, 0, 0.1); /* Black with 80% opacity */
}

.portfolio {
  background-color: #d8d8d8;
}

.portfolio-inner{
  background-color: rgba(0, 0, 0, 0.1); /* Black with 80% opacity */
}

.socials {
  background-color: #c8c8c8;
}

.socials-inner {
  background-color: rgba(0, 0, 0, 0.1); /* Black with 80% opacity */
  color: #fff; /* Set text color to white */
  border: 1px solid red; /* Example border for visibility */
}

.socials-inner ul {
  list-style-type: none; /* Remove default list styles */
}

.socials-inner a {
  color: #000; /* Set link color to white */
}

.socials-inner a:hover {
  color: #000;
}
