body, html {
	font-family: Helvetica;
}

#bold {
	font-weight:bold;
}

.landing {
	font-family: Helvetica;
}

.projects h4{
	font-style:italic;
}

.socials-inner ul {
  list-style-type: none; /* Remove default list styles */
}

.socials-inner a {
  text-decoration: none;
}

.socials-inner a:hover {
  text-decoration: underline; /* Underline on hover */
}