/* font colors go in colors.css */

body, html {
	font-family: Helvetica;
}

body a {
  text-decoration: underline;
}

body a:hover {
  text-decoration: none; /* Underline on hover */
}

.bold {
	font-weight:bold;
}


.projects h4{
	font-style:italic;
}

.socials-inner ul {
  list-style-type: none; /* Remove default list styles */
}

.socials-inner a {
  text-decoration: underline;
}

.socials-inner a:hover {
  text-decoration: none; /* Underline on hover */
}