/* Current styles in video.css */
video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.video-wrapper h1, h2 {
  z-index: 3;
  position: relative;
  color: red;
}

.video-wrapper p {
  z-index: 3;
  position: relative;
  color: white;
}

.video-wrapper ul {
  z-index: 3;
  position: relative;
  color: red;
}

/* General styles for larger screens */
.landing-left {
  float: left;
  margin: 20px;
  display: flex;
  align-items: center;
}

.landing-left h1, .landing-left p {
  margin: 0 10px; /* Adjust spacing between the elements */
}

.landing-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  width: 200px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .landing-left {
    float: none;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
  }

  .landing-left h1, .landing-left p {
    margin: 10px 0; /* Adjust spacing between the elements */
  }

  .landing-right {
    position: static;
    margin: 10px auto;
    width: 80%;
  }

  .video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
